[submodule "Plugins/URoboVision"]
	path = Plugins/URoboVision
	url = https://github.com/urobosim/URoboVision.git
        branch = 4.25
[submodule "Plugins/UUtils"]
	path = Plugins/UUtils
	url = https://github.com/urobosim/UUtils.git
        branch = 4.25_backward
[submodule "Plugins/UROSWorldControl"]
	path = Plugins/UROSWorldControl
	url = https://github.com/urobosim/UROSWorldControl.git
        branch = 4.25
[submodule "Plugins/URoboSim"]
	path = Plugins/URoboSim
	url = https://github.com/urobosim/URoboSim.git
    branch = dev
[submodule "Plugins/UTFPublisher"]
	path = Plugins/UTFPublisher
	url = https://github.com/urobosim/UTFPublisher.git
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/urobosim/UROSBridge.git
[submodule "UAivatar"]
	path = Plugins/UAivatar
	url = git@github.com:code-iai/UAivatar.git
[submodule "Plugins/UPIDController"]
	path = Plugins/UPIDController
	url = git@github.com:robcog-iai/UPIDController.git
[submodule "Plugins/UE4DTW"]
	path = Plugins/UE4DTW
	url = git@github.com:code-iai/UE4DTW.git
