[submodule "Plugins/URoboVision"]
	path = Plugins/URoboVision
	url = https://github.com/urobosim/URoboVision.git
        branch = 4.25
[submodule "Plugins/UUtils"]
	path = Plugins/UUtils
	url = https://github.com/urobosim/UUtils.git
        branch = 4.25_backward
[submodule "Plugins/UROSWorldControl"]
	path = Plugins/UROSWorldControl
	url = https://github.com/urobosim/UROSWorldControl.git
        branch = 4.25
[submodule "Plugins/URoboSim"]
	path = Plugins/URoboSim
	url = https://github.com/urobosim/URoboSim.git
    branch = dev
[submodule "Plugins/UTFPublisher"]
	path = Plugins/UTFPublisher
	url = https://github.com/urobosim/UTFPublisher.git
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/urobosim/UROSBridge.git
